<h2>Login</h2>

<div>
<% if flash[:error].present? %>
  <p><strong> <%= flash[:error] %> </strong></p>
<% end %>
<div class="container centerpede">
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <!-- <form class="form-signin"> -->
    <%= form_tag login_path, class: "form-signin" do %>
      <span id="reauth-email" class="reauth-email"></span>
      <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
      <%= email_field_tag :email, nil, id: "inputEmail", class: "form-control", placeholder: "Email address" %>
      <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
      <%= password_field_tag :password, nil, id:"inputPassword", class:"form-control", placeholder: "Password" %>
      <!-- <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button> -->
      <%= submit_tag 'Login', class: "btn btn-lg btn-primary btn-block btn-signin" %>
      <% end %>
      <!-- </form> -->
    </div><!-- /card-container -->
  </div><!-- /container -->
  <div class="col-md-4"></div>
</div><!-- row -->
</div>

<%#= form_tag login_path do %>

  <%#= label_tag 'Email' %>
  <%#= email_field_tag :email, nil %>
  <br>

  <%#= label_tag 'Password' %>
  <%#= password_field_tag :password, nil %>
  <br>

  <%#= submit_tag 'Login' %>

<%# end %>
</div>
