<h2>User Details</h2>

<% if @current_user.present? && @current_user == @user %>
  <%= link_to 'Edit profile', edit_user_path(@user) %>
<% end %>

<p>Username: <%= @user.username %></p>

<p>Email: <%= @user.email %></p>

<p>List of Properties to Rent Out:</p>
<% @user.properties.each do |p| %>
  <p>
  Address:
    <%= p.address %>
    <%= p.suburb %>
    <%= p.state %>
    <%= p.postcode %>
  </p>
  <p>Description:
    <%= p.description %>
  </p>

  <%= link_to 'View This Listing', property_path(p)  %>
  <%= link_to 'Delete This Listing', property_path(p), data:{:confirm => "Are you sure?"}, :method => :delete %>

  <hr>

<% end %>

<%= link_to 'Add a Listing', new_property_path %>
