<h2>Properties to Rent</h2>

  <% @properties.each do |property| %>

    <li>
      <a href="/properties/<%= property.id %>"><%= property.address %> <%= property.suburb %> <%= property.state %> <%= property.postcode %></a>
    </li>

<% end %>
</ul>
