<h2>Property Details</h2>

<%= link_to 'Properties for Rent', properties_path %>

<%= link_to 'Edit Property', edit_property_path(@property) %>

<p>Address: <%= @property.address %> <%= @property.suburb %> <%= @property.state %> <%= @property.postcode %></p>

<p>Property images: </p>
<% @property.images.each do |image| %>
<div>
  <a href="/images/<%= image.id %>">
    <img src="<%= image.url %>" alt=""></a>
    <br>
    <%= link_to 'Delete This Photo', image_path(image), data:{:confirm => "Are you sure?"}, :method => :delete %>
</div>
<% end %>

<p>Description: <%= @property.description %></p>

<p>Reviews:</p>
<% @property.reviews.each do |r| %>
  <%= r.comment %>
  <br>
  <%= r.rating %>
  <br>
  <%= link_to 'Delete This Review', review_path(r), data:{:confirm => "Are you sure?"}, :method => :delete %>
  <hr>
<% end %>

<%= form_for Review.new do |f| %>
  <%= f.label :comment %>
  <br>
  <%= f.text_area :comment, size: "100x3" %>
  <br>
  <%= f.label :rating %>
  <%= f.text_field :rating, size: 10 %>
  <br>
  <%= hidden_field_tag :property_id, @property.id %>


  <%= f.submit %>
<% end %>

<!-- ITERATE THROUGH PROPERTY IMAGES! -->
