<h2>Property Details</h2>

<%= link_to 'Back to Properties for Rent', properties_path %>

<%= link_to 'Edit Property', edit_property_path(@property) %>

<p>Address: <%= @property.address %> <%= @property.suburb %> <%= @property.state %> <%= @property.postcode %></p>

<p>Property images: </p><% @property.images.each do |image| %>
  <a href="/images/<%= image.id %>">
    <img src="<%= image.url %>" alt=""></a>
<% end %>

<p>Description: <%= @property.description %></p>

<p>Reviews:</p>
<% @property.reviews.each do |r| %>
  <%= r.comment %>
  <%= r.rating %>
  <br>
<% end %>

<!-- ITERATE THROUGH PROPERTY IMAGES! -->
